body{
    font-family: 'Open Sans', sans-serif;
}

/* header */
body {
    overflow-x: hidden;
  }
  
.first{
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    height: 800px;
    /* gap: 70px; */
    /* padding: 75px 30px 30px 100px; */
    padding-bottom: 50px;
    padding-left: 70px;
    align-items: center;
}

.headline{
    color: #272727;
    font-size: 60px;
    font-style: normal;
    font-weight: 800px;
    line-height: normal;
}
.text1{
    color: rgba(39, 39, 39, 0.60);
    display: flex;
    width: 634px;
    flex-direction: column;
    flex-shrink: 0;
    color: rgba(39, 39, 39, 0.60);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

    /* padding: 145px 30px 30px 240px; */
}
.btn-primary{
    color: #FFF;
    padding: 20px 43px;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 0px;
    background: #E55473;
}

.flower1{
    width: 200px;
    height: 200px;
    margin-bottom: 500px;
    margin-right: 0px;
}

/* main body */
.headline2{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.text2{
    color: rgba(39, 39, 39, 0.6);
    text-align: center;
}

/* 3 images in the middle */
.main1{
    margin-top: 200px;
}
.mid-img{
    align-items: center;
    display: flex;

}
#rect-resize{
    /* margin-top: 100px; */
    margin: 235px;
    align-items: center;
}
#flower-resize{
    width: 300px;
    height: 300px;
    display: flex;
}
.back-rect{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 300px;
    /* height: 375px; */
    height: 360px;
    margin: 10px;
}
.style{
    padding-top: 60px;
    padding-left: 40px;
}
.style-more{
    padding-top: 60px;   
}

.tree-more{
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    text-decoration-line: underline;
}

.back-rect2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 300px;
    height: 360px;
    flex-shrink: 0;
    margin: 10px;
}
#flower2{
    padding-left: 20px;

}

.back-rect3{
    width: 300px;
    height: 360px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    display: flex;
    margin: 10px;
}
/* here ends the flower section */

/* Here starts the 2nd section of the main body */
.second{
    width: 1922px;
    height: 620px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    align-items: center;
    /* padding: 145px 30px 30px 240px; */
    display: flex;

}
.mar{
    margin-left: 200px;
    margin-right: 100px;
}
.second-head-font{
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}
.p2{
    display: flex;
    width: 594px;
    flex-direction: column;
    flex-shrink: 0;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}
.btn-2nd{
    text-align: center;
    margin-left: 230px;
}

/* done with this section as well */

/* Here starts the instagram section */
.insta{
    text-align: center;
}
.insta-h{
    color: #272727;
    /* text-align: center; */
    font-size: 30px;
    font-style: normal;
    font-weight: 800px;
    line-height: normal;
    /* margin-bottom: -50px; */
    margin-bottom: -30px;
    margin-top: 100px;
    /* margin-bottom: 0px; */
    /* padding: 145px 30px 30px 240px; */
}
    

.insta-p{
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 30px;
    line-height: 30px; */
    margin-left: 400px;
    /* margin-bottom: 50px; */
    display: flex;
}

/* here ends the code for insta section */

/* her comes the section of rectangular flowers */
.lower-img{
    align-items: center;
    display: flex;
    margin-top: 100px;
    /* margin: 100px; */
    margin: 150px;
    /* padding-right: 500px; */
}

.resize{
    align-items: center;
    display: flex;
}
#rectid{
    display: flex;
    width: 300px;
    height: 300px;
    /* flex-shrink: 0; */
    /* padding: 20px; */
}
.rect1{
    /* margin-left: 0px; */
}

.rect2{

}

/* the rectangular images section ends here */

.last{
    margin-top: 200px;
    margin-bottom: 200px;
    align-items: center;
    text-align: center;
    margin-left: 200px;
    /* background-image: url("../assets/Rectangle 9.png"); */
    background-image: url("Rectangle 9.png");
    background-size: contain;
    background-repeat: no-repeat;
    /* width: 1440px; */
    height: 500px;
    width: 1000px;
    background-position: center;
    align-items: center;
    text-align: center;
}
.in{
    padding-top: 100px;
    align-items: center;
}
.last-h{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.last-p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.input-last{
    height: 400px;
    font-size: 50px;
    box-sizing: border-box;
    size: 300px;
    /* border: 0px; */
}
input[type = "text"]{
    width: 400px;
    height: 30px;
    padding: 10px;
    font-size: large;
    border: 0px;
}
.last-btn{
    color: #FFF;
    padding: 16px 30px;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-flex;
    /* padding: 20px 43px; */
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 0px;
    background: #E55473;
}

.foot{
    background-color: #111010;
    /* width: 1922px; */
    width: 100%;
    height: 400px;
    flex-shrink: 0;
    align-items: center;
    text-align: center;
    
}
.foot-text{
    padding-top: 100px;
    text-align: center;
}
.foot-p{
    display: flex;
    width: 625px;
    flex-direction: column;
    flex-shrink: 0;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-left: 395px;
}
.foot-e{
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}